

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-body">

            <div class="mt-md-2">
                <img src="~/app-assets/images/Basket/Empty.png" class="rounded mx-auto d-block " />
            </div>

            <div>
                <p class="text-center text-danger">سبد شما خالی است </p>
            </div>


            <div class="justify-content-center d-flex">
                <a  asp-controller="shop"  asp-action="index"   class="btn btn-primary  mb-1 waves-effect waves-light"><i class="feather icon-shopping-bag"></i>ورود به فروشگاه</a>
            </div>

        </div>
    </div>
</div>

