

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/core/menu/menu-types/horizontal-menu.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/pages/app-ecommerce-shop.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/plugins/forms/wizard.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/plugins/extensions/toastr.css">
}




<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-body">
            <div class="content-ajax ">
                <!-- Items Loding Here -->
            </div>
        </div>
    </div>
</div>
<div class="modal"><!-- For Ajax Loading --></div>





@section Scripts{


    <script src="~/app-assets/vendors/js/vendors.min.js"></script>
    <script src="~/app-assets/vendors/js/ui/jquery.sticky.js"></script>
    <script src="~/app-assets/vendors/js/forms/spinner/jquery.bootstrap-touchspin.js"></script>
    <script src="~/app-assets/vendors/js/extensions/jquery.steps.min.js"></script>
    <script src="~/app-assets/vendors/js/forms/validation/jquery.validate.min.js"></script>
    <script src="~/app-assets/vendors/js/extensions/toastr.min.js"></script>
    <script src="~/app-assets/js/scripts/pages/app-ecommerce-shop.js"></script>
    <script src="~/scripts/basket.js"></script>
    <script src="~/scripts/ajaxLoading.js"></script>






}









